head title {
    text-align: left;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    
    background-color: seashell;
    
}

header {

    background-color: rgb(179, 173, 230);
    display: flex;
    justify-content: space-between;

}

header title {

    text-align: left;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    margin: 25px;
    float: right;
    display: flex;
    border: gray;
    border-style: groove;


}

header nav {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    display: flex;
    align-items: center;
    margin: 25px;
    
    list-style-type: none;

}

header nav a {

    margin-left: 25px;
    color: slategrey;
    text-decoration: none;   

}

.london-skyline {

    height: 525px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./images/london-skyline.jpg");
    background-size: cover;
    background-position: center;

}

