head title {
    text-align: left;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    
    background-color: seashell;
    
}

header {

    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    border: slategrey;
    border-style: dotted;
    border-width: thin;

}

header title {

    text-align: left;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    margin: 25px;
    display: flex;
    align-items: center;
    
}

header nav {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px;    
    list-style-type: none;

}

header nav a {

    margin-left: 25px;
    color: slategrey;
    text-decoration: none;   

}

.london-skyline {

    
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./images/london-skyline.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 525px;

}

/*h1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}*/

.about-me {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
 
}

.about-me p {
    font-size: 16px;
    width: 75%;
    padding-top: 15px;
}

.work {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}